
* {
    font-family: 'montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mark-color: #333;
    --winner-color: rgb(247, 135, 7);
}

body {
    max-width: 900px;
    margin: 0 auto;
    height: 100vh;

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* PLAYFIELD */

.playfield {
    background-color: var(--mark-color);
    gap: 4px;
    font-weight: 600;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.cell {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: var(--mark-color);

    transition: all 0.3s ease-in;
}

/* Navigation */

select {
    border: none;
    background-color: white;
    font-size: 16px;
    margin-top: 28px;
    margin-bottom: 28px;
    border-bottom: 2px solid black;
}

select:focus {
    outline: none;
}

button {
    padding: 10px 20px;
    border: 1px solid gray;
    background-color: #eee;
    padding: 10px 40px;

    /* box-shadow: 0px 2px 7px #bbb; */
}

.buttons {
    margin-bottom: 20px;
}

button:hover, button.active {
    background-color: #333;
    color: white;
}

#restart-button {
    margin-top: 40px;
    font-size: 24px;
}

#message-field {
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 24px;
}