
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'montserrat', sans-serif;
    --mark-color: #333;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* PLAYFIELD */

.playfield {
    background-color: var(--mark-color);
    gap: 4px;
    font-weight: 600;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.cell {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: var(--mark-color);
}

/* Navigation */

button {
    padding: 10px 20px;
    border: none;
}

#restart-button {
    margin-top: 40px;
    font-size: 24px;
}

#message-field {
    margin-bottom: 40px;
    font-size: 24px;
}